<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Article</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/article">Article</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Data</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form
              action="/article/edit/<%= article._id %>?_method=PUT"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="card-body">
                <div class="form-group">
                  <label for="judul">Judul</label>
                  <input
                    type="text"
                    name="judul"
                    class="form-control"
                    id="judul"
                    placeholder="Masukan judul artikel"
                    value="<%= article.judul %>"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="excrept">excrept</label>
                  <input
                    type="text"
                    name="excrept"
                    class="form-control"
                    id="excrept"
                    placeholder="Masukan excrept"
                    required
                    value="<%- article.excrept %>"
                  />
                </div>
                <div class="form-group">
                  <label for="body">Isi artikel</label>
                  <input
                    id="body"
                    type="hidden"
                    name="body"
                    required
                    value="<%- article.body %>"
                  />
                  <trix-editor input="body"></trix-editor>
                </div>
                <div class="mb-3">
                  <label for="image">Gambar</label>
                  <input
                    type="file"
                    name="image"
                    class="file-input form-control"
                    id="image"
                  />
                  <br />
                  <img
                    src="https://api-youpay.herokuapp.com/uploads/<%= article.image %>"
                    id="perview"
                  />
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        $("#perview").attr("src", e.target.result);
        $("#perview").attr("width", "20%");
        $("#perview").attr("height", "20%");
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#image").change(function () {
    readURL(this);
  });
</script>
